@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-image: url("img/beach.jpeg");
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  background-position: center;

}



.container {

}

section {
  text-align: center;
  color: #333;
  background-color: rgba(255,255,255, .8);
  border-radius: 10px;
  box-shadow: 2px 2px 50px rgb(67, 73, 69);
  border: 1px solid #555;

}

.welcome {
  text-transform: uppercase;
}

.i {
  font-style: italic;
}




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

/* general styling */
html, body {
  margin: 0;
}

body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  color: #333;
  padding: 0.5rem;
  text-align: center;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

.title {

}


@media only screen and (max-width: 600px) {

  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 20px;
    font-weight: normal;
  }

  .title {
    font-size: 20px;
    margin-top: 20px;
  }

  .container {
    width: 100%;
    border-radius: 0px;
    margin: 10px auto;
  }

  section {
    padding: 30px;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 601px) {

  .container {
    width: 900px;
    border-radius: 15px;
    margin: 60px auto;
  }

  section {
    padding: 60px 60px;
    margin-bottom: 60px;
  }
  
  h1 {
    font-size: 55px;

  }
  
  h2 {
    font-size: 40px;
  }

  .title {
    font-size: 30px;
    margin-top: 20px;
  }

  .dd {
    font-size: 30px;
    margin-top: 30px;
  }
}